.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: black;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1000px) {
  .header__link {
    margin-right: 30px;
  }
}
