.form__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 15px auto 80px;
    cursor: pointer;
    text-decoration: none;
}

.form__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .form__link {
        font-size: 12px;
        margin: 20px auto 42px;
    }
}