.header__hambuger-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: rgba(84, 84, 84, 0.7);
}