.form__submit {
  color: black;
  background-color: white;
  margin: 216px 0 0;
  padding: 14px 84px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s ease;
}

.form__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .form__submit {
    font-size: 16px;
    margin: 173px 0 0;
  }
}
