.form__submit {
    color: black;
    background-color: white;
    margin: 0;
    padding: 14px 84px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.form__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .form__submit {
        font-size: 16px;
        padding: 14px 35px;
        margin: 0 30px;
    }
}