.header__hamburger-email {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.2;
   width: 100%;
   margin: 0;
   padding: 0;
   margin-bottom: 18px;
   text-align: center;
   color: rgba(255, 255, 255, 1);
}