.header__hamburger {
    display: none;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;   
    background-color: transparent;   
}

.header__hamburger:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .header__hamburger {
        margin-right: 30px;
    }
}