.header__menu {
  display: none;
}

@media screen and (max-width) {
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    color: black;
    opacity: 0;
  }
}

/*  add transtion */
