.form__title {
    color: white;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    padding: 0;
    margin: 60px auto 50px;
}

@media screen and (max-width: 320px) {
    .form__title {
        margin: 40px auto 40px;
        font-size: 20px;
    } 
}