@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);

/* import popup classes*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__window/popup__window.css);
@import url(./blocks/popup/__window/_type/popup__window_type_tooltip.css);
@import url(./blocks/popup/__window/popup__window-content-preview.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_delete-card.css);
@import url(./blocks/popup/__title/_type/popup__title_type_avatar.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input/_description/popup__input_description_name.css);
@import url(./blocks/popup/__input/_description/popup__input_description_job.css);
@import url(./blocks/popup/__preview-image/popup__preview-image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_preview.css);
@import url(./blocks/popup/_type/popup_type_tooltip.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__tooltip-image/popup__tooltip-image.css);
@import url(./blocks/popup/__message/popup__message.css);

/* import header classes */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__content/header__content.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/header__menu-container.css);
@import url(./blocks/header/__menu/header__menu-open.css);
@import url(./blocks/header/__hamburger/header__hamburger.css);
@import url(./blocks/header/__hamburger/__hamburger-menu/header__hamburger-menu.css);
@import url(./blocks/header/__hamburger/__hamburger-menu/_visible/header__hamburger-menu_visible.css);
@import url(./blocks/header/__hamburger/__hamburger-menu/header__hamburger-menu-container.css);
@import url(./blocks/header/__hamburger/__hamburger-menu/header__hamburger-menu-item.css);
@import url(./blocks/header/__hamburger/header__hamburger-email.css);
@import url(./blocks/header/__hamburger/heaer__hamburger-link.css);
@import url(./blocks/header/__hamburger/header__hamburger-icon.css);
@import url(./blocks/header/__hamburger/header__hamburger-close.css);

@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__image/logo__image.css);
@import url(./blocks/content/content.css);

/* import profile classes */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__image-container/profile__image-container.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__image-update-icon/profile__image-update-icon.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrapper-name/profile__wrapper-name.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);

/* import buttons classes*/
@import url(./blocks/button/button.css);
@import url(./blocks/button/_type/button_type_edit.css);
@import url(./blocks/button/_type/button_type_add.css);
@import url(./blocks/button/_type/button_type_close.css);
@import url(./blocks/button/_type/button_type_close-preview.css);
@import url(./blocks/button/_type/button_type_close-delete-card.css);
@import url(./blocks/button/_type/button_type_close-avatar.css);
@import url(./blocks/button/_type/button_type_close-tooltip.css);
@import url(./blocks/button/_type/button_type_submit.css);
@import url(./blocks/button/_type/button_type_submit-disabled.css);
@import url(./blocks/button/_type/button_type_submit-delete-card.css);
@import url(./blocks/button/_style/button_style_like.css);
@import url(./blocks/button/_style/button_style_full.css);

/* import cards section classes */
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__list/cards__list.css);
@import url(./blocks/cards/__card/cards__card.css);
@import url(./blocks/cards/__content/cards__content.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like-wrapper/cards__like-wrapper.css);
@import url(./blocks/cards/__like-count/cards__like-count.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/cards/__delete-button/_visible/cards__delete-button_visible.css);
@import url(./blocks/cards/__delete-button/_hidden/cards__delete-button_hidden.css);

/* import footer classes */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

/* import form classes */
@import url(./blocks/form/form.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__link/form__link.css);
@import url(./blocks/form/__submit/form__submit.css);
@import url(./blocks/form/__submit/form__submit-disable.css);
@import url(./blocks/form/__title/form__title.css);

/* import auth-form */
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/auth-form.css);

/* import tooltip classes */
