.form__input {
  all: unset;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  color: white;
  border-bottom: rgba(204, 204, 204, 1) 2px solid;
  padding-bottom: 13px;
  /* background-color: black; */
  background-color: transparent;
}

.form__input:last-of-type {
  margin: 30px 0 0;
}

/* @media screen and (max-width: 320px) {
    .form__input {
        margin: 0 30px;
    }
    
    .form__input:last-of-type {
        margin: 30px 30px 0;
    }
} */
